body {
  background-color: beige;
}
* {
  margin: auto;
}

.container {
  margin-top: 3%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: bisque;
  width: 800px;
  height: 800px;
  padding: 10px;
}

.item {
  display: flex;
  margin: 10px;
  background-color: aquamarine;
  height: 200px;
  width: 200px;

  font-size: 140px;
  color: white;
  justify-content: center;
  cursor: pointer;
}
.inline {
  display: inline-block;
}
.active-player {
  display: flex;
  font-size: 50px;
}
#reset_game{
  height:80px;
  width:100px
}
